body 
    {
    font-family: sans-serif;
    background-color: rgb(202, 198, 198);
    padding:0;
    margin: 0;
    font-size: x-small;
    }

.navbar
    {
        background-color: rgb(32, 32, 141);
        color:white;
        font-weight: 600;
        font-size: 15px;
        padding-left: 100px;
    }



header
   {
       background-color: rgb(0, 0, 94);
       height: 150px;
       width: 100%;
       position: relative;
       padding-left: 10%;
       padding-top: 3%;
       
   }

.b
    {
        position: relative;
        width: 300px;
        height: 70px;
        border: 0.5px solid  rgb(0, 0, 49);
        background-color:  rgb(32, 32, 141);
        left: 50%;
        top: -60%;
    }

header h1
   {
       color: white;
       font-size: 60px;
       font-weight: 800;
       font-family: 'Times New Roman', Times, serif;
      
   }

.container
   {
        background-color: white;
        position: absolute;
        text-align: center;
        font-weight: 500;
        max-width: 80%;
        left: 10%;
        top: 35%;
        font: sans-serif;
        
}
    
.icon-bar 
   {
    
    overflow: auto;
    border-radius: 3px;
   }

.icon-bar a
    {
    width: 20%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    border-radius: 3px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-table;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    
    }
 
.fb
    {
    background-color: rgb(44, 31, 233);
    color: white;
    }
  
.twitter
    {
    background-color: rgb(46, 175, 250);
    color: white;
    }
  
.google
   {
    background-color: #eb0606;
    color: white;
   }
footer
   {
       margin-bottom: 10%;
       padding-left: 10%;
       margin-top: 0%;
   }


footer h2  
   {
    color:rgb(158, 157, 157);
   }



.box input[type="text"], .box input[type="password"]
    {
        border: 0;
        background: white;
        display: inline;
        margin: 0px;
        text-align: center;
        border: 2px solid #9506f5;
        padding: 4px 1px;
        outline: none;
        color: rgb(0, 0, 0);
        border-radius: 24px;
        transition: 0.25s;
    }
.box input[type="text"]:focus, .box input[type="password"]:focus
    {
        border-color: rgb(9, 243, 224);
        width: 280px;
    }

.box input[type="submit"]
    {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid greenyellow;
        padding: 14px 10px;
        width: 160px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

.box input[type="submit"]:hover
    {
        background-color: greenyellow;
    }

::-webkit-scrollbar
    {
        background-color: black;
        width: 14px;
    }

::-webkit-scrollbar-track
    {
        box-shadow: rgba(241, 5, 171, 0.945);
        border-radius: 10px;
    }

::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        background: linear-gradient(120deg, #3424db, #34495e );
    }
   
.btn-default
    {
        color: rgb(19, 204, 50);
        border-color: rgb(19, 204, 50);
    }
